@media (max-width: 1024px){
	body{ padding-top: 60px;}
	.container{
	padding-left: 0px;
	padding-right: 0px;
	}
	.checkplans:before{left: 54%;}
	.leftnavi{width: 220px!important; display: none;}
	.mobilemenu{display: block; height: 70px; z-index: 99999;}
	.opacitybg{
		position: fixed;
		width: 100%;
		height: 100%;
		display:none;
		background: rgba(0,0,0,0.7);
		z-index: 999;}
	/*.leftnavi:hover ~ .shiftbox{ padding-left:0px!important;}*/
	/*.shiftbox{ padding-left: 0px;}*/
	.leftnavi ul li:first-child{ margin-left: -10px;}
	.leftnavi ul li strong{opacity: 1;}
	.leftnavi ul{
		height: 100%;
		overflow:scroll;
		overflow-y:scroll;
		overflow-x:hidden;
	}
}


@media (max-width: 800px){
	.hutbox{max-width: 100%;}
	/*.checkplans ul{width: 100%;}*/

	.checkplans:before{left: 86%;}

	.profilelist li a, .walletlist li a{font-size: 12px;}
	[class^="proicon-"],
	[class*=" proicon-"] {
    background-image: url("../images/tablet-profile-icons.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    vertical-align: text-top;
    width: 32px;
    /*border: 1px solid red;*/
    margin-right: 1px;
    margin-top: -5px;
	}
.proicon-profile{background-position: -3px 0px;}
.proicon-phistory{background-position: -36px 0px;}
.proicon-qpay{background-position: -70px 0px;}
.proicon-sup{background-position: -100px 0px;}
.proicon-faq{background-position: -131px 0px;}
.proicon-oterms{background-position: -166px 0px;}

.proicon-wallettopup{background-position: -238px 0px;}
.proicon-wallethistory{background-position: -202px 0px;}

.proicon-blank{background-position: -400px 0px;}

.hideondescktopshowontablet{display: block;}
.hideontabletshowondesktop{display: none;}

}

@media (min-width: 1025px){
	.leftnavi, footer ul{display: block!important;}
}
@media (max-width:992px){

	footer .row{padding-left: 0px;padding-right: 0px;}
	footer h4{
	color: #111;
	background:rgba(0,0,0,0.2);
	background-image:-webkit-linear-gradient(left, rgba(188,189,192,0.2),rgba(255,255,255,0.6),rgba(188,189,192,0.4));
  	background-image:-o-linear-gradient(right, rgba(188,189,192,0.2),rgba(255,255,255,0.6),rgba(188,189,192,0.2));
  	background-image:-moz-linear-gradient(right, rgba(188,189,192,0.2),rgba(255,255,255,0.6),rgba(188,189,192,0.2)); 
  	background-image:linear-gradient(to right, rgba(188,189,192,0.2),rgba(255,255,255,0.6),rgba(188,189,192,0.2));
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
	footer h4 .fooactive{
		position: absolute;
		width: 50px;
		height: 50px;
		border-left: 1px solid #ddd;
		right: 0px;
		top: -1px;
		background-image:url(../images/plus.png);
		background-repeat: no-repeat;
		background-position: 15px 13px;
		cursor: pointer;
	}
	footer h4 .collapsinglink{background-image:url(../images/minus.png);}
	footer ul{display: none;}
}


@media (min-width:993px){
	footer ul{display: block!important;}

}


@media (max-width: 768px){
	.hideonmobile{display: none;}
	.hideondescktop{display: block!important;}

	.leftnavi ul{
		height: 100%;
		overflow:scroll;
		overflow-y:scroll;
		overflow-x:hidden;
	}

	h4.media-heading{margin-top: 18px; line-height: 22px;}
	.panel-group table tr td p {font-size: 18px!important;}
	.menuonmobile{margin-left: -50px;}

	.menuonmobileprofile{margin-left: -64px;}
}


@media (max-width: 767px){
	.checkplans{width: 92%;}
	.sliderowbar{width: 100%;
	  overflow:hidden;
	  overflow-x:scroll;
	  height: 53px;
	}

	.sliderowbar .nav-tabs > li > a:hover
	{background-color: #513e96; color: #fff; border-top: 1px solid #513e96;}

	.sliderowbar .nav-tabs > li.active > a,
	.sliderowbar .nav-tabs > li.active > a:hover
	{background: #fff; border-top: 1px solid #fff; color: #333;}

	.dealslist li{ display: inline-block; border-bottom: 1px solid transparent}
	.dealslist li a{border-bottom: 4px solid transparent!important;}
	.dealslist li.active a, .dealslist li a:hover
	{	color: #ea945f;
		border-left: 0px!important;
		border-bottom: 4px solid #ea945f!important;
		transition:450ms;
	}

	.hideUp768showbelow768{display: none;}
	.showbelow768hideUp768{display: block;}

	.profilelist li, .walletlist li{ display: inline-block; border-bottom: 1px solid transparent}
	.profilelist li a{border-bottom: 4px solid transparent!important;}
	.profilelist li.active a, .profilelist li a:hover, .walletlist li.active
	{	color: #513E96;
		border-left: 0px!important;
		border-bottom: 4px solid #513E96!important;
		transition:450ms;
	}	


	.walletlist li.active{color: #513E96!important;}
	.hideon767{display: none;}
	.paddLnR{padding-left: 15px; padding-right: 15px;}
	.modal-sm {width: 94%;}

	.menuMOBILESET{width: 100%;	overflow:hidden;  overflow-x:scroll;
	  height: 62px; margin-bottom: 15px;
	}
	.menuMOBILESET ul{min-width: 500px; width: auto;}


	.walletMOBILESET{width: 100%;	overflow:hidden;  overflow-x:scroll;
	  height: 58px; margin-bottom: 15px;}
	.walletMOBILESET ul{min-width: 680px;  width: auto;}

	.walletlist li:nth-child(2),
	.walletlist li:nth-child(3),
	.walletlist li:nth-child(4)
	{
	margin-right: 15px;
	padding-right: 4px;
	width: auto;
	float: left!important;
	border-bottom: 1px solid #e7e7e7;
	text-transform: uppercase;
	}

	.walletMOBILESET ul li:first-child,
	.walletMOBILESET ul li:last-child
	{
		color: #333;
		text-transform: uppercase;
		width: auto;
		display: inline-block!important;
		float: left;
		margin-right: 15px;
		padding-right: 4px;
	}

}


@media (max-width: 600px){
	.acknowtextbox{width: 100%; padding-left: 20px; padding-right: 20px;}
	.purchasetable, .wallhistorytable,
	.upwallettable{width: 600px!important;}
	.quicktable{width: 700px}
	.signlogBOX{padding-left: 0px; padding-right: 0px;}

	/*.dealtoplist li a{width: 150px;}*/
	.dealslinksLR{text-align: left; padding-top: 10px;}

	.walletTOP{ width: 50px;}
	.walletTOP table tr td:nth-child(2){opacity: 0;}
	
}


@media (width: 480px){
	.menuonmobile{margin-left: auto;}
}