@import url(../font/fontstyle.css);

body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	font-family: 'encode_sans_narrowregular';
  	position: relative;
	overflow-x:hidden;

}

.homebgIMG{
	/*background: url("../images/MainPageImage.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: no-repeat;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    background-position: center center;

    @media (max-width: @iphone-screen) {
        -webkit-background-attachment: scroll;
        background-attachment: scroll;
	}*/
	width: 100%;
	min-height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;

}

.topscrollhead
{
  border-bottom: 2px solid #513e96;
    color: #333;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 22px;
}


.hideondescktop , .hideondescktopshowontablet,
.showbelow768hideUp768{display: none;}

.container{
	padding-left: 40px;
	padding-right: 40px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}
/*.congratulations .modal-sm{width: 865px; top: 80px;}*/
.congratulations .carousel-inner {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
   // border: 1px solid #8d8d8d;
}
.congratulations .carousel-inner > .item{
    padding: 5px;
}

.itemc {
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 5px;
}
/*.congratulations .freebie {
    margin: auto;
    overflow: hidden;
    position: relative;
    //width: 73%;
    //border: 1px solid #8d8d8d;
}*/

.congratulations .row_left{ margin-left: 20px;}
.congratulations .row_left h3{ margin-top:10px; margin-bottom: 5px; color: #503d97; font-family: 'encode_sans_narrowmedium'; font-size: 24px;}
.congratulations .row_left span{ display: block; font-size: 15px; color: #8d8d8d; font-family: 'encode_sans_narrowregular'; margin-bottom: 5px;}
.congratulations .row_left a{ font-family: 'encode_sans_narrowregular'; font-size: 19px; display: block; background: #5abdb4; color: #fff; padding: 5px 10px; text-align: center;

}
.congratulations .modal-header .close {
    margin-top: -25px;
    margin-right: -25px;
}
.congratulations .modal-header .close,.congratulations .modal-header .close:hover{ opacity: 1;}
.congratulations #mySmallModalLabel{ font-family: 'encode_sans_narrowregular'; font-size: 24px;}
.congratulations .top_con h2{ font-family: 'encode_sans_narrowmedium'; font-size: 24px; color: #503d97;}
.congratulations .top_con p{ font-size: 15px; color: #8d8d8d; font-family: 'encode_sans_narrowregular';}
#imagegallery{ margin-top: 10px;}
.congratulations .row_right{ margin-left: 55px;}
.congratulations .row_right img{ margin-right: 5px; float: left;}
.congratulations .row_right h3{ margin-top:10px; margin-bottom: 5px; color: #503d97; font-family: 'encode_sans_narrowmedium'; font-size: 20px;}
.congratulations .row_right span{ display: block; color: #8d8d8d; margin-bottom: 5px; margin-left: 48px;}
.congratulations .bottom_texts{ color: #503d97; margin-top: 20px; background: #9ddad1; padding: 10px 15px; min-height: 50px; text-align: center}
.congratulations .bottom_texts p{ font-family: 'encode_sans_narrowregular'; font-size: 20px;}
.congratulations .bottom_texts span{ font-family: 'encode_sans_narrowregular'; font-size: 15px; }
.congratulations .modal-content{ padding-bottom: 0; }
.congratulations .num_of_images{ display: block; text-align: center; padding: 10px; color: #503d97;}
.congratulations .carousel-control.left,.congratulations .carousel-control.right{ top: 32%;}
//.congratulations.modal-sm{width: 600px; top: 80px;}
.modal-sm{width: 480px; top: 80px;}
.modal-body {padding: 0px;}
.modal-content{padding-bottom: 20px;}
.modal-sm1{width: 600px; top: 80px;}


.mT10{margin-top: 10px;}
.mT15{margin-top: 15px;}
.mT20{margin-top: 20px;}
.mT30{margin-top: 30px;}
.mT40{margin-top: 40px;}
.mT50{margin-top: 50px;}


a,a:active, a:link, a:focus, a:visited,
input:active, input:focus,input:visited,
button:active, button:focus,button:visited
{outline: 0!important; text-decoration: none;}

.l{border: 1px solid red;}

/*left navigation*/
.leftnavi:hover{width: 220px!important;}
.leftnavi{
top: 0px;
position: fixed;
width: 55px;
min-height: 300px;
background: #513e96;
margin-left: -1px;
-webkit-transition:500ms;
transition:500ms;
overflow: hidden;
z-index: 9999;
height: 100%;
}
.leftnavi ul{list-style-type: none; padding-left: 0px; width: 220px;
}
.leftnavi:hover ul li:first-child{	margin-left: -10px!important; }


.shiftbox
{
	width: 100%;
	/*padding-left: 20px;*/
	/*padding-right: 60px;*/
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
	-moz-box-sizing: border-box;
}

/*.leftnavi:hover ~ .shiftbox{
	padding-left: 218px!important;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
}*/

.leftnavi ul li:first-child{
	text-align: center;
	padding-top: 20px;
	margin-left: -150px;
	transition:500ms;
}


.freespace{line-height: 58px;}
.leftnavi ul li:last-child
{

}
.login li a{color: #333; padding-right: 10px;}

.leftnavi ul li:first-child a{padding-left: 0px; padding-bottom: 18px;}
.leftnavi ul li:first-child a:hover{background:transparent; }
.leftnavi ul li strong{display: block;
font-weight: normal;
color: #babcbe;
text-transform: uppercase;
font-size: 12px;
margin-bottom: 3px;
opacity: 0;
transition:500ms;
}
.leftnavi:hover ul li strong{opacity: 1!important;}
.leftnavi ul li{
	border-bottom: 1px solid #919396; color: #babcbe;
	font-size: 18px;
}

.leftnavi ul li a{display: block; line-height: 60px;
 padding-left: 13px; transition:500ms;color: #babcbe;
font-size: 18px;

}

.leftnavi ul li a:hover, .leftnavi ul li a.current
{background: #71c068;
color: #fff;
text-decoration: none;
}

.transparentBG li a{background: transparent!important; color: #333!important;}
.transparentBG li a:hover{background:#ccc!important;}


[class^="sarname-"],
[class*="sarname-"] {
    background-image: url("../images/surname.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: text-top;
    width: 26px;
    /*border: 1px solid red;*/
    margin-right: 5px;
}
.sarname-edit{background-position: -1px 0px;}
.sarname-logout{background-position: -30px 0px;}

.hutLIST{
  padding-left: 10px;
  list-style-type: none;
  display: table;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

}
.hutLIST li{float: left; width: 28%; text-align: center;}
.hutLIST li:first-child{width: 44%; text-align: left; font-weight: bold;
font-size: 15px;}
.hutLIST li del{font-size: 12px;}

[class^="blk-"],
[class*="blk-"] {
    background-image: url("../images/b-icons.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 53px;
    line-height: 53px;
    vertical-align: text-top;
    width: 70px;
    /*border: 1px solid red;*/
}
.blk-wallet{background-position: -1px 0px;}
.blk-atm{background-position: -70px 0px;}



[class^="customicon-"],
[class*=" customicon-"] {
    background-image: url("../images/icons.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    vertical-align: text-top;
    width: 32px;
    /*border: 1px solid red;*/
    margin-top: -4px;
   margin-right: 10px;
}

.customicon-mobile{background-position: 0px 0px;}
.customicon-dth{background-position: -30px 0px;}
.customicon-dcable{background-position: -60px 0px;}

.customicon-deals{background-position: -90px 0px;}
.customicon-pmobile{background-position: -120px 0px;}
.customicon-Electricity{background-position: -150px 0px;}

.bill{text-align: center;text-transform: uppercase; font-size: 12px!important;}

.mobilerecharge{
	background: #71c068;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 12px 28px 12px 28px;
}
.inputfild{color: #fff; margin-bottom: 20px; margin-top: 10px;}
.inputfild label{font-weight: normal; font-size: 12px;display: block;
  background: -webkit-linear-gradient(#fff, #cccccc);
  background: -o-linear-gradient(#fff, #cccccc);
  background: -moz-linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,0.3)); 
  background: linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,0.3));
  padding:4px 0px 5px 0px;
}
.inputfild input, .inputfild select
{
	border:2px solid #513e96;
	height: 40px;
	margin-top: -7px;
}
.inputfild button,.inputfild button:hover{
	background: #513e96;
	border: hidden;
	font-size: 18px;
	margin-top: 50px;
	outline: 0!important;
  border-radius: 3px;
}
input.opencheckplans:disabled{
  cursor: auto;
}
.hidecheckplans{cursor: pointer;}

.checkplans:before{
  content: '';
  position: absolute;
  top: -13px;
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #513E96;
  z-index: 99;
  left: 69%;
  margin-left: -15px;
}
.checkplans{
margin-top: 3px;
border:2px solid #513E96;
/*padding: 0px 15px 15px 15px;*/
/*width: 700px;*/
display: none;
border-radius: 3px;
z-index: 99;
background-color: #fff;
position: absolute;
/*overflow: hidden;*/
max-width: 659px;
}


.checkplans ul{
  background: #513E96;
  /*background: red;*/
  color: #fff;
  width: 656px;
  padding-right: 0px;
  height: auto;

  white-space: nowrap;
  overflow:hidden!important;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


.nav-tabs > li.active > a,
.nav-tabs > li > a:hover
{border-left:  1px solid transparent!important; border-right: 1px solid #fff!important;
 border-radius: 0px;
z-index: 99;
}

.nav-tabs > li > a{
border-radius: 0px; color: #fff; margin-right: 0px!important;
border-right: 1px solid #fff!important;
}
.nav-tabs > li:last-child > a{border-right: 0px solid transparent!important;}

.nav-tabs > li > a:hover{color: #333;}


.checkplans ul li:last-child{}
.checkplans ul li a{font-size: 14px;}
.checkplans table{ color: #333;}
.checkplans table thead tr{border-bottom: 1px solid #666;}
.checkplans table tbody tr{border-bottom: 1px solid #ccc;}

.checkplans table thead tr th,
.checkplans table tbody tr td{
  padding: 5px 10px 5px 10px; font-size: 12px;
}

[placeholder="Check Plans"]{
	text-align: right;
  cursor: pointer;
}

.welcome p{
	margin-top: 26px;
	color: #fff;
	font-size: 26px; 
}
.welcome p span{color: #513e96;}
.welcome h5{font-size: 14px; border-bottom: 2px solid #513e96; color: #fff; line-height: 32px;
margin-bottom: 22px;
}
.welcomehutbox{	box-shadow: 0px 0px 6px #444;background: #ffffff; }
.welcomehutbox table{width: 100%;}
.welcomehutbox table tr td{padding: 10px;}
.welcome h6{font-size: 18px; color: #fff; text-align: center;
margin-top: 50px;
}

.whychoose{	background: #ffffff; padding-top: 40px; padding-bottom: 50px;}
.whytextbox h2{color: #513e96; font-size: 50px; font-weight: bold;}
.whytextbox p{font-size: 14px; line-height: 24px; margin-bottom: 40px; margin-top: 25px;}
.whytextbox a{color: #513e96; border:1px solid #513e96; font-size: 14px; padding: 7px 13px 7px 13px; transition:1s;}
.whytextbox a:hover{color: #333; border:1px solid #333;}

.hutpart{
padding-top: 40px; padding-bottom: 40px;
background-image:url(../images/hut-bg.jpg); 
background-attachment: fixed;
/*background-position: center center;*/
/*background-size: cover;*/
background-repeat: repeat;
}
.hutbox{background: #fff; margin-top: 20px; margin-bottom: 20px;
box-shadow: 0px 0px 6px #444;
}
.hutbox table{width: 100%; }
.hutbox table tr td{padding: 5px;}
.hutbox table tr td del{font-size: 12px;}

/* deals page style*/
#ListTabContent{
	box-shadow: 0px 0px 6px #ccc;
	/*padding: 15px;*/
	border-radius: 5px;
	background: #ffffff;
}
.dealsbread{border-bottom: 1px solid #ccc; padding-bottom: 2px;}
.dealsbread ul{list-style-type: none; padding-left: 0px;}
.dealsbread ul li{display: inline-block;float: left; font-size: 18px; margin-left: 15px;}
.dealsbread ul li:first-child{
	width: 32px;
	height: 32px;
	background-image: url(../images/left-arrow.png);
  background-position: 0px -4px;
}
.dealsbread ul li a{color: #EA945F;}


[class^="dealslinks-"],
[class*=" dealslinks-"] {
    background-image: url("../images/dealslink-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 37px;
    line-height: 37px;
    vertical-align: text-top;
    width: 37px;
    /*border: 1px solid red;*/
    margin-top: -4px;
    transition:500ms;
    -webkit-transition:500ms;
}

.dealslinks-qr{background-position: -1px 0px;}
.dealslinks-phone{background-position: -43px 0px;}
.dealslinks-msg{background-position: -83px 0px;}

[class^="dealslinks-"]:hover,
[class*=" dealslinks-"]:hover{
	margin-top: 4px;
	opacity: 0.6;
}

.leftrightpad{padding-left: 0px;padding-right: 0px;}
img.media-object{max-width: 200px;}
.dealboxx{padding: 15px 15px 0px 15px; border-bottom: 1px solid #ccc;}
h4.media-heading{color: #503D94; font-size: 14px;cursor: pointer;}
.borderBOTTOM{border-bottom: 1px solid #ccc; width: 100%; min-width: 300px;}
.panel-group table{width: 100%;margin-top: 15px;}
.panel-group table tr th{color: #503D94;font-size: 14px; font-weight: normal;}

.dealshead{color: #503D94;font-size: 18px; font-weight: normal;margin-bottom: 0px;
 padding-top: 15px;
}
.statustext p{font-size: 14px; margin-top: 0px; margin-bottom: 0px;}
.statustext strong{color: #888; font-weight: normal;}
.statustext span{color: #ea945f}
.dealtime{color:#2fbdc8; font-size: 10px;}

.panel-group table tr td p,
.panel-group h6 {color: #888; font-size: 32px; font-weight: thin!important;}
.panel-group ul{padding-left: 18px; font-size: 14px;color: #999;}

.securitycode tr th{font-size: 18px!important;}
.securitycode tr td{color:#503D94; padding-top: 5px; padding-bottom: 5px; font-size: 15px;}
.securitycode tr td span{display: block; color:#888; }

.dealslist, .profilelist,.walletlist 
{background: #fff;border-radius: 5px; margin-bottom: 20px;
box-shadow: 0px 0px 6px #ccc;
}
.dealslist li.active a:focus, .dealslist li a:hover, 
.profilelist li.active a:focus, .profilelist li a:hover,
.walletlist li.active a:focus, .walletlist li a:hover,
.walletlist li a:active,.walletlist li a:visited, .walletlist li a:link
{background-color: transparent;}
.dealslist li a{font-size: 14px;color: #333;
border-bottom: 1px solid #eee;
transition:450ms;
}
.dealslist li:last-child a{border-bottom: 1px solid transparent;}

.dealslist li.active a, .dealslist li a:hover
{	color: #ea945f;
	border-left: 6px solid #ea945f;
	transition:450ms;
}

.walletlist li.active
{
  color: #513E96;
  border-left: 6px solid #513E96;
}


.walletlist li strong{font-weight: normal;}
.walletlist li{font-size: 14px;color: #333;
border-bottom: 1px solid #eee;
/*border-bottom: 1px solid red;*/
transition:450ms;
padding-left: 5px;
padding-top:10px;
padding-bottom: 8px;
cursor: pointer;
/*display: block;*/
width: 100%;

}


.walletlist li{}
.walletlist li .wallseumenu,
.walletlist li .wallseumenu li
{ margin-left: 2px;
list-style-type: none;
border-left: none!important;
}

.hidewallet{display: none;}



[class^="deals-"],
[class*=" deals-"] {
    background-image: url("../images/deals-icons.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    vertical-align: text-top;
    width: 42px;
    /*border: 1px solid red;*/
    margin-right: 3px;
}

.deals-mydeals{background-position: 0px 0px;}
.deals-quickpay{width: 68px; background-position: -88px 0px;}
.deals-balance{background-position: -42px 0px;}
.dealtoplist li{margin-top: 2px;}
.dealtoplist li a{border-radius: 0px; min-height: 63px; font-size: 10px;}
.dealtoplist li ul.dropdown-menu li a{ min-height:inherit; padding-top:5px; padding-bottom:5px;}
.dealtoplist li:nth-child(1) a
{	background-color: #ea945f; color: #fff; }
.dealtoplist li:nth-child(2) a
{background-color: #70be67;color: #fff;}

.dealtoplist li:nth-child(3){
	min-width: 160px;
}
.dealtoplist li:nth-child(4) a{font-size: 12px;}
.dealtoplist li:nth-child(3) a,.dealtoplist li:nth-child(4) a,
.dealtoplist li a.dropdown-toggle,
.dealtoplist li a.dropdown-toggle:active,
.dealtoplist li a.dropdown-toggle:focus
{background-color: #503d94;color: #fff;}

.dealtoplist li table tr td strong{font-size: 18px;}

.dealslinksLR{text-align: right;}

dl {margin-bottom: 0px;}


/* ------------ profiles page style  -------------------*/
.panel-title { font-size: 14px;}
.dealsbread strong{
	color: #513e95; font-size: 18px; font-weight: normal;
}

.proform label{font-size: 12px; font-weight: normal;}
.prohead{color: #513e95; font-size: 14px;}
.form-horizontal input[type="text"],
.form-horizontal select
{
	border:1px solid #513e95;
	box-shadow: 0px 0px 1px 0px #513e95;
	border-radius: 3px!important;
}
.common-btn{color: #fff;}

.form-horizontal button, .signlogBOX button, .common-btn{
background:#513e95;border:1px solid #513e95;
min-width: 100px; font-size: 18px; transition:500ms;
margin-right: 8px;
border-radius: 3px;
}
.form-horizontal button:hover, .signlogBOX button:hover,
.common-btn:hover
{
	background:#513e95;
	opacity: 0.7;
}
.form-horizontal input[type="button"]
{min-width: 100px; font-size: 18px;
}

.btn-group label{
	border:1px solid #513e95;
	box-shadow: 0px 0px 1px 0px #513e95;
	min-width: 40px;
	margin-right: 12px;
	background: transparent;
	/*border-radius: 0px;*/
	border-radius: 3px!important;
	color: #222;
}
.btn-group label.active, .btn-group label:hover
{	background:#513e95; color: #fff;}

.supportcall a{font-size: 26px; color:#513e95; }

[class^="msgcall-"],
[class*=" msgcall-"] {
    background-image: url("../images/msg-call.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 37px;
    line-height: 37px;
    vertical-align: text-top;
    width: 37px;
    /*border: 1px solid red;*/
    margin-right: 10px;
    margin-top: -4px;
}
.msgcall-msg{background-position: 0px 2px;}
.msgcall-call{background-position: -37px 0px;}


.profilelist li a, .walletlist li a{font-size: 14px;color: #333;
border-bottom: 1px solid #eee;
padding-top: 15px;
transition:450ms;
padding: 15px 10px 10px 10px;

}

.profilelist li.active a, .profilelist li a:hover
{	color: #503D94;
	border-left: 6px solid #503D94;
	transition:450ms;
}


[class^="proicon-"],
[class*=" proicon-"] {
    background-image: url("../images/profile-icons.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    vertical-align: text-top;
    width: 40px;
    /*border: 1px solid red;*/
    margin-right: 1px;
    margin-top: -5px;
}

.proicon-profile{background-position: -3px 0px;}
.proicon-phistory{background-position: -42px 0px;}
.proicon-qpay{background-position: -82px 0px;}
.proicon-sup{background-position: -120px 0px;}
.proicon-faq{background-position: -158px 0px;}
.proicon-oterms{background-position: -199px 0px;}

.proicon-wallettopup{background-position: -288px 0px;}
.proicon-wallethistory{background-position: -241px 0px;}

.proicon-blank{background-position: -400px 0px;}


.proicmbT{margin-top: -11px;}


.proediticon{
	background-image: url("../images/edit-icon.png");
 	background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  line-height: 30px;
  vertical-align: text-top;
  width: 30px;
  display: inline-block;
  margin-top: -5px;
  float: right;
  cursor: pointer;
}
.purchasetable{width: 100%; vertical-align: middle;}

.mom,.dominos,.postpaid{border-bottom: 1px solid #ccc;}
.mom p,.dominos p,.postpaid p{margin-bottom: 0px; font-size: 30px; color: #414142;
font-weight: normal;
padding-bottom: 0px; line-height: 32px;
}
.mom tr{border-left: 12px solid #62bc6a;}
.dominos tr{	border-left: 12px solid #ea955f;}
.postpaid tr{	border-left: 12px solid #6797ca;}

.mom tr th,.dominos tr th,.postpaid tr th{padding-top: 10px;}
.mom tr td,.dominos tr td,.postpaid tr td{padding-bottom: 15px;}

.mom tr th:nth-child(1),.dominos tr th:nth-child(1),.postpaid tr th:nth-child(1)
{	color:#12b6c2; font-weight: normal;}
.mom tr th:nth-child(1),.dominos tr th:nth-child(1),.postpaid tr th:nth-child(1),
.mom tr td:nth-child(1),.dominos tr td:nth-child(1),.postpaid tr td:nth-child(1){
	padding-left: 15px;
}
.mom tr td:nth-child(2),.dominos tr td:nth-child(2),.postpaid tr td:nth-child(2)
{	color: #231f20; font-size: 17px; width: 200px}

.mom tr th:nth-child(3),.dominos tr th:nth-child(3),.postpaid tr th:nth-child(3),
.mom tr td:nth-child(3),.dominos tr td:nth-child(3),.postpaid tr td:nth-child(3)
{color: #6e6f70; text-align: center;}

.tickstatus, .crosstatus{
	background-image: url("../images/tick-cross.png");
 	background-position: 0px 1px;
  background-repeat: no-repeat;
  height: 30px;
  line-height: 30px;
  vertical-align: text-top;
  width: 31px;
  display: inline-block;
  /*border:1px solid red;*/
}
.crosstatus{width: 26px;background-position: -28px 1px;}
.supportqueryhead{color: #513e95; position: relative;}
.supportqueryhead small{color: #0cb8c4;
display: block; margin-top: 5px;
}

.querysupport
{background-image: url("../images/support-query.png");
 	background-position: 0px 1px;
  background-repeat: no-repeat;
  height: 28px;
  line-height: 28px;
  vertical-align: text-top;
  width: 28px;
  display: inline-block;
  position: absolute;
  right:0px;
  top: 0px;
  cursor: pointer;
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 0px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: none;
    border-bottom: none;
}

.quicktable, .upwallettable{width: 100%; }

.quicktable tbody tr th:nth-child(2);
.quicktable tbody tr td:nth-child(2){
	min-width: 440px!important;
}
.quicktable tbody tr th{padding-top: 10px;}
.quicktable tbody tr td{padding-bottom: 10px;}
.quicktable tbody tr th{color:#12b6c2; font-weight: normal;}
.quicktable tbody tr td p{font-size: 30px; color: #414142;}
.quicktable tbody tr td strong{font-size: 20px; color: #414142;}

tbody.momdad
{border-bottom: 1px solid #ccc; vertical-align:middle;}
tbody.momdad tr
{border-left: 12px solid #62bc6a;}
tbody.othersname tr{border-left: 12px solid #6797ca;}
tbody.momdad tr th:nth-child(1),tbody.othersname tr th:nth-child(1),
tbody.momdad tr td:nth-child(1),tbody.othersname tr td:nth-child(1){
	padding-left: 15px;
	width: 42%;
}

tbody.momdad tr th:nth-child(1) span{cursor: pointer;} 


[class^="quickpay-"],
[class*=" quickpay-"] {
    background-image: url("../images/quickpay-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    vertical-align: text-top;
    width: 38px;
    /*border: 1px solid red;*/
    margin-right: 10px;
    margin-left: 10px;
}

.misscall_msg{
    background-image: url("../images/call.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    vertical-align: text-top;
    width: 38px;
    /*border: 1px solid red;*/
    margin-right: 10px;
    margin-left: 10px;
}
    

.misscall_msg{background-position: -2px -3px;}
.quickpay-msg{background-position: -2px -3px;}
.quickpay-info{background-position: -50px -3px;}
.quickpay-rup{background-position: -104px -3px;}
.quickpay-edit{background-position: -161px -3px;}
.quickpay-cross{background-position: -219px -3px;}


.acknow{
	width: 100%;
	height: 100%;
	position: fixed;
	background:rgba(0,0,0,0.7);
	top: 0px;
	left: 0px;
	z-index: 999;
	padding-top: 15%;
	display: none;
}

.acknowtextbox{
	width: 480px;
	margin: 0px auto;
	color: #fff;
}

.acknowtextbox dl dt img{margin-top: 20px;}
.acknowtextbox dl dd h3{font-weight: 600; }
.acknowtextbox dl dd button{background: transparent; padding: 9px 16px 9px 16px;
	font-size: 17px; font-weight: 600;transition:500ms;
	margin-top: 15px;
 }
 .acknowtextbox dl dd button:hover{background: #62bc6a;}


.panel-heading{
  padding-bottom: 0px;
  padding-top: 0px;
}
.panel-heading h4{padding-top: 10px;
padding-bottom: 10px; cursor: pointer;}


/*-------------------wallet-----------------*/
.wallhistorytable{width: 100%;}
.wallhistorytable tr{border-bottom: 1px dotted #ccc;}
.wallhistorytable tr:last-child,
.upwallettable tr:last-child
{border-bottom: 1px solid transparent;}
.wallhistorytable tr td{padding-top: 5px;padding-bottom: 5px;padding-left: 10px;}
.wallhistorytable tr td:last-child{padding-right: 10px;}
.wallhistorytable tr td strong,
.upwallettable tr td strong
{color: #513e95; display: block; font-size: 16px; }
.wallhistorytable tr td:nth-child(2){font-size: 22px;}
.wallhistorytable tr td:last-child{text-align: right;}

.upwallettable tr{border-bottom: 1px solid #ccc;}
.upwallettable tr td{padding-top: 6px;padding-bottom: 8px; padding-left: 10px;}



/* -------- mobile style ------------------*/

.mobilemenu{
	top: 0px;
	width: 100%;
	height: 70px;
	background: #513e96;
	position: fixed;
	z-index: 999;
	display: none;
}

.mobilemenu a{
	display: inline-block;
	position: absolute;
	right: 20px;
	/*border: 1px solid red;*/
	margin-top: 9px;
}

.mobilemenu p{
	position: absolute;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url(../images/mobile-navi.png);
  background-repeat: no-repeat;
	left: 16px;
	margin-top: 11px;
	cursor: pointer;
}

.walletTOP{
  top: 9px;
  width: 200px;
  height: 44px;
  /*background: red;*/
  display: block;
  position: absolute;
  left: 80px;
  color: #fff;
}
.walletTOP table{width: 140px;}

.walletTOP ul li ul.dropdown-menu{color: #333;}
.walletTOP ul li ul.dropdown-menu li{padding-left: 10px;}
.walletTOP ul li ul.dropdown-menu li:hover{padding-left: 10px;
cursor: pointer; background: #e5e5e5;}

/* ================= style for login and sign up page ===============*/
body.logsignBODY{
  background:transparent;
  background-image:url(../images/hut-bg.jpg); 
background-attachment: fixed;
/*background-position: center center;*/
/*background-size: cover;*/
background-repeat: repeat;
}
[class^="loginsign-"],
[class*=" loginsign-"] {
    background-image: url("../images/login-signup.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    vertical-align: text-top;
    width: 31px;
    /*border: 1px solid red;*/
}

.loginsign-mobile{background-position: -1px 0px;}
.loginsign-lock{background-position: -30px 0px;}
.loginsign-coupon{background-position: -60px 0px;}

.signlogBOX{
  /*border:1px solid red;*/
  padding-left: 30px; 
  padding-right: 30px;
}
.signlogBOX span.btn-info, .signlogBOX span.btn-info:hover{
  padding: 7px 15px 8px 15px;
  font-size: 18px; line-height: 40px;
   background-color: #5bc0de;
}
.signlogBOX label{font-weight: normal; font-size: 12px;}
.signlogBOX input,.signlogBOX input:focus {height: 45px;
    border: 1px solid #513e95;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 0 1px 0 #513e95;
}
.signDOB input{padding-left: 12px;}
.signDOB input[placeholder="DD"]{ width: 50px; }
.signDOB input[placeholder="MM"]{ width: 50px; }
.signDOB input[placeholder="YYYY"]{ width: 100px; }

.input-group-addon{
  border-left: 1px solid #513e95;
  border-top:1px solid #513e95;
  border-bottom: 1px solid #513e95;
  box-shadow: 0 0 1px 0 #513e95;
  background: #fff;
}

.signlogBOX .btn-group label {
    background: #fff;
    border: 1px solid #513e95;
    border-radius: 3px !important;
    box-shadow: 0 0 1px 0 #513e95;
    color: #222;
    margin-right: 4px;
    min-width: 40px;
    padding-top: 10px;
    padding-bottom: 11px;
}
.signlogBOX .btn-group label.active, .signlogBOX .btn-group label:hover
{ background:#513e95; color: #fff;}
.signlogBOX button{margin-top: 30px; font-size: 18px;}
.signlogBOX .termncond{display: block; margin-top: 20px; font-size: 12px;}
.logOR{position: relative;
text-align: center; font-size: 15px;
overflow: hidden; margin-top: 10px;
padding-left: 30px;
padding-right: 30px;
}
.logOR:before{
  content: '';
  width: 100%;
  border-bottom: 1px solid #999;
  position: absolute;
  top: 11px;
  right: -54%;

}
.logOR:after{
  content: '';
  width: 100%;
  border-bottom: 1px solid #999;
  position: absolute;
  top: 11px;
  left: -54%;
}
.logOR ~ .btn-default{
  background-color: #ddd;
  border-radius: 3px;
}
.errorred{
  border-radius: 5px;
  border:2px solid red;
  overflow: hidden;
  /*box-shadow: 0px 0px 10px red;*/
}


/*popup*/

.popupdivision small{
	border-bottom: 1px solid #e5e5e5;
	display: block;
}
.modal-title{color: #513E96;}

[placeholder="Redeem"]{
	text-align: right;
}
.close
{
	color:#d92a37;
	font-weight: bold;
	opacity: 0.85;
}
.close:hover{color: red;}
.ordersucHead{color: #71C068;}
.transfaildTXT{color:#d92a37; }


[class^="popupicons-"],
[class*=" popupicons-"] {
    background-image: url("../images/popup-icons.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: text-top;
    width: 40px;
    margin-top: -7px;
}

.popupicons-call{background-position: -1px 0px;}
.popupicons-ask{background-position: -42px 0px;}

.callaskBTN{
	background: transparent;
	border: 1px solid #513e95;
	box-shadow: 0 0 1px 0 #513e95;
	border-radius: 3px;
	height: 42px;
	width: 114px;
	padding-top: 7px;
	margin-right: 8px;
	color: #513E96;
	text-transform: uppercase;
	font-size: 14px;
}




/*===============footer ====================*/
footer{
	border-top: 1px solid #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(../images/hnad-mobile.png), -webkit-linear-gradient(left, #bcbdc0,#bcbdc0, #ffffff); /* For Safari 5.1 to 6.0 */
  background-image: url(../images/hnad-mobile.png), -o-linear-gradient(right, #bcbdc0,#bcbdc0, #ffffff); /* For Opera 11.1 to 12.0 */
  background-image: url(../images/hnad-mobile.png), -moz-linear-gradient(right, #bcbdc0,#bcbdc0, #ffffff); /* For Firefox 3.6 to 15 */
  background-image: url(../images/hnad-mobile.png), linear-gradient(to right, #bcbdc0,#bcbdc0, #ffffff); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-position: right bottom;

}
/*.handmobile{

    background-image: url(../images/hnad-mobile.png);
	background-repeat: no-repeat;
	background-position: right bottom;
    background-repeat: no-repeat;

}*/

footer h4
{
	text-transform: uppercase;
	color: #513e96;
	margin-top: 30px;
	font-size: 15px;
}
footer ul {list-style-type: none;padding-left: 1px;}
footer ul li{}
footer ul li a{color: #231f20; font-size: 11px; line-height: 24px; transition:500ms;}
footer ul li a:hover{color: #513e96;text-decoration: underline;}


.common-btn-submit{color: #fff;}

.common-btn-submit{
background:#513e95;border:1px solid #513e95;
min-width: 20px; font-size: 18px; transition:500ms;
margin-right: 8px;
border-radius: 3px;
}

.common-btn-submit:hover
{
	background:#513e95;
	opacity: 0.7;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.red{
    color:red;
    font-size: 14px;
}
.green
{
    color:green;
    font-size: 14px;
}

p {
margin: 0px;
text-align:justify;
padding:0 0 10px 0;
font-size:12px;
font-family:"Encode Sans Normal";
}

h1{
font-size:34px;
//  font-family:"Encode Sans Narrow Thin";
margin:0;
padding:10px 0 5px 0;
color:#404041;
}

h2{
font-size:14px;
//font-family:"Encode Sans Narrow Medium";
margin:0;
padding:10px 0 5px 0;
color:#513D98;
}

.payment_ic{
width:100px;
float:left;
text-align:center;
}

.ic_title{
text-align:center;
font-size:12px;
font-family:"Encode Sans Normal";
}
